/* animations.css */
@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

body[theme="purple-orange"] {
    animation: moveBackground 10s linear infinite;
}
